<h1>cart</h1>

<div class="js-cart">
    {{#if books.length}}
        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{#each books}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{count}}</td>
                        <td>
                            <button
                                class="btn btn-small js-delete"
                                data-id="{{_id}}"
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <p>Total Price: <span class="price">{{price}}</span></p>
    {{else}}
        <p>cart is Empty</p>
    {{/if}}
</div>
